*{
    margin: 0;
    padding: 0;
    font-family: "Monsterrat", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom:1px solid black;
}

header .header-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .header-left a img{
    width: 100px;
}

header .header-right{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header .header-right a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-header{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}